.picture_container, #showEquipmentDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Cards container*/
.cards_container{
    width: 80vw;
    border: 1px solid black;
}
.picture_container .equipment_picture{
    width:300px;
    height: 300px;
    margin: 10px;
}
.equipment_picture:hover{
    scale: 2;
}