{# components/equipment_table.html.twig #}
{% if clientSelectedEquipmentsFiltered is defined and clientSelectedEquipmentsFiltered is not empty %}
    {#<div class="col-sm-2">
        <div class="card downloadPdf">
            <div class="card-body">
                <h4 class="card-title">Compte-rendu</h4>
                <ul style="list-style-type:none;">
                    {% for objectFile in directoriesLists %}
                        {% if  objectFile.path %}
                            <li style="margin-bottom:10px;"><a href="{{ objectFile.path }}" target="_blank">{{ objectFile.visite }} du {{ objectFile.date }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> #}
    <div>
        <table id="table" class="table-equipement-client table-bordered" data-toggle="table" data-pagination="true" data-search="true" data-filter-control="true" data-show-search-clear-button="true">
            {# Le contenu de votre tableau actuel #}
        </table>
        <script>
            $(function() {
                $('#table').bootstrapTable()
            })
        </script>
    </div>
{% endif %}